@using Microsoft.AspNetCore.Authorization
@using AdminPanel.Domain.Entities
@using Microsoft.AspNetCore.SignalR.Client;
@using AdminPanel.Web.hubs;
@using System.Text.Json
@model AdminPanel.Domain.Entities.Message
@inject IAuthorizationService AuthorizationService

<form method="post" asp-action="Message" asp-controller="Chat" asp-route-id="@Model.Id" asp-antiforgery="true" id="editForm">
    <section class="chat">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">

                    <div class="card" id="chat2">
                        <div class="card-header d-flex justify-content-between align-items-center p-3">
                            <h5 class="mb-0">Общий чат</h5>
                        </div>
                        <div class="card-body" id="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 380px; overflow: auto">

                            <div class="d-flex flex-row justify-content-start">
                                <div>
                                    <div class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
                                        <div id="chatroom">
                                            @foreach (Message message in ViewBag.AllMessages)
                                            {
                                                <div>@message.User.Name: @message.Content</div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                 alt="avatar 3" style="width: 40px; height: 100%;">
                        <textarea type="text" class="" id="Message"
                                      placeholder="Ваше сообщение" name="Content" required spellcheck="true"></textarea>
                            <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                            <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                            <a id="sendBtn" title="send" class="primary btn expanded" type="submit">Отправить</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <input type="hidden" id="Id" name="Id" value="@Model.Id">
    <input type="hidden" id="DateCreated" name="DateCreated" value="@Model.DateCreated">
    <input type="hidden" id="DateUpdated" name="DateUpdated" value="@Model.DateUpdated">
    <input id="UserName" type="hidden" value="@User.Identity.Name"/>
    <br/>
    <br/>
</form>


@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
    $(document).ready(function() {
        $(document).on("click",
            "#sendBtn",
            () => {
                    if ($("#Message").val() != '') {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Message")',
                            data: {
                                message: JSON.stringify($('#editForm').serializeToJSON({}))
                            },
                            success: function () {
                                console.log("success");
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Упс, произошла ошибка!',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        });
                    }   
            }
        );
    });
    </script>
    <script>
        var hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();

        document.getElementById("sendBtn").addEventListener("click",
            function() {
                if ($("#Message").val() != '') {
                    const userName = document.getElementById("UserName").value;
                    const message = document.getElementById("Message").value;
                    hubConnection.invoke("Send", message, userName)
                        .catch(function (err) {
                            return console.error(err.toString());
                        });
                }
            });

        hubConnection.on("Receive",
            function(message, userName) {
                const userNameElem = document.createElement("b");
                userNameElem.textContent = `${userName}: `;

                const elem = document.createElement("p");
                elem.appendChild(userNameElem);
                elem.appendChild(document.createTextNode(message));

                const firstElem = document.getElementById("chatroom").lastChild;
                document.getElementById("chatroom").insertBefore(elem, firstElem);

                var block = document.getElementById("card-body");
                block.scrollTop = block.scrollHeight;
            });

        hubConnection.start()
            .then(function() {
                document.getElementById("sendBtn").disabled = false;
            })
            .catch(function(err) {
                return console.error(err.toString());
            });
    </script>

    <script type="text/javascript">
        var block = document.getElementById("card-body");
        block.scrollTop = block.scrollHeight;
    </script>
}
